<!-- <div class="col-md-8 col-lg-8 col-xl-9 px-0 mx-0"> -->
  <div
    class="d-flex flex-column justify-content-start"
    [ngStyle]="{ 'height.px': height$ | async }">

    <div class="p-4 bg-faded">
      <h3 class="lead">{{channelName$ | async}}<code>{{cid$ | async}}</code></h3>
    </div>
    <!-- <p class="lead">Some bio info</p> -->

    <div class="media p-4" *ngIf="noMessagesYet$ | async">
      <div class="media-body">
        <h5 class="my-0 lead">No messages yet!</h5>
      </div>
    </div>

    <div class="py-4 channel-messages">
      <message
        *ngFor="let message of messages$ | async"
        [removeHandler]="deleteMessage"
        [message]="message">
      </message>
    </div>

    <div class="mt-auto px-4 py-1 channel-footer">
      <input
        type="text"
        class="form-control form-control-lg border-0"
        placeholder="Say something"
        (keydown.enter)="sendMessage($event.target)"/>
    </div>
  </div>
<!-- </div> -->
