<div class="overlay-wrapper">
  <div class="overlay" tabindex="-1" role="dialog">
    <div class="container py-2" [formGroup]="newChannelForm">
      <div class="row form-group my-4">
        <div class="col-sm-12">
          <h2>Create a new channel</h2>
        </div>
      </div>
      <div class="form-group row">
        <label for="channelName" class="col-2 col-form-label">Give it a name</label>
        <div class="col-10">
          <input type="text" formControlName="name" class="form-control" id="channelName" placeholder="Name the channel">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Private channel?</label>
        <div class="col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" formControlName="private">
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Members</label>
        <div class="col-sm-10" formArrayName="members">
          <div *ngFor="let user of users$ | async as users; index as i" class="form-check">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                [formControlName]="user.uid">
              {{user?.displayName}}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button (click)="cancel()" type="button" class="btn btn-primary">Close</button>
        </div>
      </div>
      <pre>{{newChannelForm.value | json}}</pre>
    </div>
  </div>
</div>
