@import 'variables';

.overlay-background {
  background: $brand-primary;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9998;
  border-radius: 9999px;
  transform: translate(-50%, -50%);
  width: 9999px;
  height: 9999px;
}

.overlay-wrapper {
  align-items: center;
  background: none;
  bottom: 0%;
  display: flex;
  justify-content: center;
  left: 0%;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 9999;

  .overlay {
    align-items: center;
    backface-visibility: hidden;
    // border-radius: 50%;
    display: flex;
    flex: none;
    justify-content: center;
    pointer-events: all;
    position: relative;
    z-index: 999;
  }
}
