@import "variables";
@import "bootstrap";

$black14: rgba(0, 0, 0, 0.14);
$black12: rgba(0, 0, 0, 0.12);
$black20: rgba(0, 0, 0, 0.2);
$black30: rgba(0, 0, 0, 0.3);


.z-depth-0 {
  box-shadow: none;
}

.z-depth-1 {
  box-shadow: 0 2px 2px 0 $black14, 0 1px 5px 0 $black12, 0 3px 1px -2px $black20;
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 $black14, 0 1px 10px 0 $black12, 0 2px 4px -1px $black30;
}

.z-depth-3 {
  box-shadow: 0 6px 10px 0 $black14, 0 1px 18px 0 $black12, 0 3px 5px -1px $black30;
}

.z-depth-4 {
  box-shadow: 0 8px 10px 1px $black14, 0 3px 14px 2px $black12, 0 5px 5px -3px $black30;
}

.z-depth-5 {
  box-shadow: 0 16px 24px 2px $black14, 0 6px 30px 5px $black12, 0 8px 10px -5px $black30;
}

.square-16 {
  max-height: 16px;
  max-width: 16px;
  object-fit: cover;
}

.square-32 {
  max-height: 32px;
  max-width: 32px;
  object-fit: cover;
}

.square-64 {
  height: 64px;
  object-fit: cover;
  width: 64px;
}

.square-128 {
  max-height: 128px;
  max-width: 128px;
  object-fit: cover;
}

.square-256 {
  max-height: 256px;
  max-width: 256px;
  object-fit: cover;
}
