@import 'variables';
@import 'bootstrap';


.square-16 {
  max-height: 16px;
  max-width: 16px;
  object-fit: cover;
}

.square-32 {
  max-height: 32px;
  max-width: 32px;
  object-fit: cover;
}

.square-64 {
  height: 64px;
  object-fit: cover;
  width: 64px;
}

.square-128 {
  max-height: 128px;
  max-width: 128px;
  object-fit: cover;
}

.square-256 {
  max-height: 256px;
  max-width: 256px;
  object-fit: cover;
}
